global:
  anthropic_api_key: xxxxxxx
  github_access_token: xxxxxxx
  slack_bot_token: xxxxxxx
  slack_team_id: xxxxxxx
  slack_signing_secret: xxxxxxx
  dev_bearer_token: xxxxxxx
  channel_id: xxxxxxx
  hf_token: xxxxxx
